name: 'PA customer rules dev'

on:
  push:
    branches:
      - 'dev'

  # Workflow needs to be started manually
  workflow_dispatch:
    inputs:
      action_type:
        description: 'PA available actions:'
        required: true
        default: 'PA-display-rules'
        type: choice
        options:
          - PA-display-rules
          - PA-add-rules

env:
  PA_API_URL: 'https://10.12.0.40'
  # the easiest way is to regenerate API key is to change the API user password
  PA_API_KEY: ${{ secrets.PA_API_KEY }}
  PY_CODE_PATH: 'source'

jobs:
  pa_actions:
    name: 'PA customer rules actions'
    # if: ${{ github.event_name != 'workflow_dispatch' }}
    runs-on: self-hosted
    # runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v5

      - name: 'Python: Install'
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          architecture: 'x64'

      - name: 'Python: Install dependencies'
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r ${{ env.PY_CODE_PATH }}/requirements.txt

